h1, h2{font-family: 'Great Vibes', cursive}
body{font-family: "Raleway", sans-serif}
body, html {height: 100%}
p {line-height: 2}
.bgimg, .bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.bgimg {background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.5)), url("../images/rings.jpg")}
.bgimg2 {background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("../images/flowers.jpg")}

.slides {
	display:none;
	width:100%;margin:32px 0;
}

.with-raleway {
	font-family: "Raleway", sans-serif
}

.prev-img {
	position: relative;
	bottom: 150px;
	left:0px;
}

.next-img {
	position: relative;
	bottom: 150px;
}

#us-pt {
  display: none;
}

.button-no-hover {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

@media all and (max-width: 599px) and (min-width: 320px) {
    .w3-xxlarge {
        font-size: 30px!important;
    }
    .w3-jumbo {
    	font-size: 60px!important;
    }
    h1 {
    	font-size: 30px;
    }
}